{% extends 'base.html' %}

{% block title %}
    Areas
{% endblock %}

{% block content %}
<h1>Areas</h1>

<a href="{% url 'areacreate' %}"><button class="btn">Add Area</button></a>

<ul>
    {% for area in object_list %}
        <li>{{ area.area_name }} ({{ area.area_type }}) - 
            <a href="{% url 'areadetail' area.pk %}">View</a> |
            <a href="{% url 'areaupdate' area.pk %}">Update</a> |
            <a href="{% url 'areadelete' area.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}